
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="DynamicLayers">
<title>Real Dream, A public Charitable Trust</title>
<link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.png">

<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">

<link rel="stylesheet" href="../../assets/css/themify-icons.css">

<link rel="stylesheet" href="../../assets/css/elegant-font-icons.css">

<link rel="stylesheet" href="../../assets/css/elegant-line-icons.css">

<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">

<link rel="stylesheet" href="../../assets/css/venobox/venobox.css">

<link rel="stylesheet" href="../../assets/css/owl.carousel.css">

<link rel="stylesheet" href="../../assets/css/slicknav.min.css">

<link rel="stylesheet" href="../../assets/css/css-animation.min.css">

<link rel="stylesheet" href="../../assets/css/nivo-slider.css">

<link rel="stylesheet" href="../../assets/css/main.css">

<link rel="stylesheet" href="../../assets/css/responsive.css">
<script src="../../assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body class="loaded">
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="">
<div class="spinner"></div>
</div>
<header id="header" class="header-section fadeIn animated cssanimation">
<div class="top-header">
<div class="container">
<div class="top-content-wrap row">
<div class="col-sm-8">
<ul class="left-info">
<!-- <li><a href="#"><i class="ti-email"></i><span class="__cf_email__" data-cfemail="337a5d555c736a5c4641775c5e525a5d1d505c5e">[email&#160;protected]</span></a></li> -->
<li><a href="#"><i class="ti-email"></i>realdreamtrust@gmail.com</a></li>
<li><a href="#"><i class="ti-mobile"></i>+(91)8754748250</a></li>
</ul>
</div>
<div class="col-sm-4 d-none d-md-block">
<ul class="right-info">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="bottom-header">
<div class="container">
<div class="bottom-content-wrap row">
<div class="col-sm-4">
<div class="site-branding dot">
    <a href="#"><img src="../../assets/img/logo.jpg" alt="Brand"></a>
    <!-- <h2>Real Dream Trust</h2> -->
</div>
</div> 
<div class="col-sm-8 text-right">
    <div class="main-header">
<ul id="mainmenu" class="nav navbar-nav nav-menu">

<li> <a id="id_home"(click)="Navigate($event)" class="active">Home</a>
</li>
<li><a id="id_about" (click)="Navigate($event)">About Us</a></li>
<li><a id="id_service" (click)="Navigate($event)">Gallery</a></li>
<li><a  id="id_activity" (click)="Navigate($event)">Services</a></li>
<li> <a  id="id_contact" (click)="Navigate($event)">Contact Us</a></li>

</ul>
<a href="#" class="default-btn">Donate Now</a>
</div>
</div>
</div>
</div>
</div>
</header>
<div class="header-height" ></div>

<router-outlet></router-outlet>
<footer class="footer-section">
<div class="container">
<div class="row">
<div class="col-md-6 sm-padding">

</div>
<div class="col-md-6 sm-padding">
<ul class="footer-social">

<li><a href="#">Terms</a></li>

</ul>
</div>
</div>
</div>
</footer>
<a data-scroll="" href="#header" id="scroll-to-top" style="display: block;"><i class="arrow_up"></i></a>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../assets/js/vendor/jquery-1.12.4.min.js"></script>

<script src="../../assets/js/vendor/bootstrap.min.js"></script>

<script src="../../assets/js/vendor/tether.min.js"></script>

<script src="../../assets/js/vendor/imagesloaded.pkgd.min.js"></script>

<script src="../../assets/js/vendor/owl.carousel.min.js"></script>

<script src="../../assets/js/vendor/jquery.isotope.v3.0.2.js"></script>

<script src="../../assets/js/vendor/smooth-scroll.min.js"></script>

<script src="../../assets/js/vendor/venobox.min.js"></script>

<script src="../../assets/js/vendor/jquery.ajaxchimp.min.js"></script>

<script src="../../assets/js/vendor/jquery.counterup.min.js"></script>

<script src="../../assets/js/vendor/jquery.waypoints.v2.0.3.min.js"></script>

<script src="../../assets/js/vendor/jquery.slicknav.min.js"></script>

<script src="../../assets/js/vendor/jquery.nivo.slider.pack.js"></script>

<script src="../../assets/js/vendor/letteranimation.min.js"></script>

<script src="../../assets/js/vendor/wow.min.js"></script>

<script src="../../assets/js/contact.js"></script>

<script src="../../assets/js/main.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>