
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="DynamicLayers">
<title>Charitify || NGO/Charity/Fundraising Template</title>
<link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.png">

<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">

<link rel="stylesheet" href="../../assets/css/themify-icons.css">

<link rel="stylesheet" href="../../assets/css/elegant-font-icons.css">

<link rel="stylesheet" href="../../assets/css/elegant-line-icons.css">

<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">

<link rel="stylesheet" href="../../assets/css/venobox/venobox.css">

<link rel="stylesheet" href="../../assets/css/owl.carousel.css">

<link rel="stylesheet" href="../../assets/css/slicknav.min.css">

<link rel="stylesheet" href="../../assets/css/css-animation.min.css">

<link rel="stylesheet" href="../../assets/css/nivo-slider.css">

<link rel="stylesheet" href="../../assets/css/main.css">

<link rel="stylesheet" href="../../assets/css/responsive.css">
<script src="../../assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- <div class="">
<div class="spinner"></div>
</div>
<header id="header" class="header-section">
<div class="top-header">
<div class="container">
<div class="top-content-wrap row">
<div class="col-sm-8">
<ul class="left-info">
<li><a href="#"><i class="ti-email"></i><span class="__cf_email__" data-cfemail="4e072028210e17213b3c0a21232f2720602d2123">[email&#160;protected]</span></a></li>
<li><a href="#"><i class="ti-mobile"></i>+(333) 052 39876</a></li>
</ul>
</div>
<div class="col-sm-4 d-none d-md-block">
<ul class="right-info">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="bottom-header">
<div class="container">
<div class="bottom-content-wrap row">
<div class="col-sm-4">
<div class="site-branding">
<a href="#"><img src="../../assets/img/logo.png" alt="Brand"></a>
</div>
</div>
<div class="col-sm-8 text-right">
    <ul id="mainmenu" class="nav navbar-nav nav-menu">
    <li class="active"> <a routerLink="">Home</a>
    <ul>   `
    <li><a routerLink="">Home Default</a></li>
    <li><a href="index-2.html">Home Modern</a></li>
    </ul> 
    </li>
    <li><a routerLink="/about" style="color: #f8b864;">About Us</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/activities">Activities</a></li>
     <li><a href="#">Pages</a>
    <ul>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="team.html">Volunteers</a></li>
    <li><a href="404.html">404 Not Found</a></li>
    </ul>
    </li>
    <li><a href="blog-grid.html">Blog</a>
    <ul> -->
    <!-- <li><a href="blog-grid.html">Blog Grid</a></li>
    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
    <li><a href="blog-list-classic.html">Classic List</a></li>
    <li><a href="blog-list-modern.html">Modern List</a></li>
    <li><a href="blog-single.html">Blog Single</a></li>
    </ul>
    </li> 
    <li> <a routerLink="/contact">Contact Us</a></li>
    </ul>
    <a href="#" class="default-btn">Donate Now</a>
    </div>
</div>
</div>
</div>
</header>
<div class="header-height"></div>
<div class="pager-header">
<div class="container">
<div class="page-content">
<h2>About Us</h2>
<p>Lorem Ipsum is simply text of the industry. </p>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active">About Us</li>
</ol>
</div>
</div>
</div> -->
<!--
<section id="counter" class="counter-section">
<div class="container">
<ul class="row counters">
<li class="col-md-3 col-sm-6 sm-padding">
<div class="counter-content">
<i class="ti-money"></i>
<h3 class="counter">85389</h3>
<h4 class="text-white">Money Donated</h4>
</div>
</li>
<li class="col-md-3 col-sm-6 sm-padding">
<div class="counter-content">
<i class="ti-face-smile"></i>
<h3 class="counter">10693</h3>
<h4 class="text-white">Volunteer Around The World</h4>
</div>
</li>
<li class="col-md-3 col-sm-6 sm-padding">
<div class="counter-content">
<i class="ti-user"></i>
<h3 class="counter">50177</h3>
<h4 class="text-white">People Impacted</h4>
</div>
</li>
<li class="col-md-3 col-sm-6 sm-padding">
<div class="counter-content">
<i class="ti-comments"></i>
<h3 class="counter">669</h3>
<h4 class="text-white">Positive Feedbacks</h4>
</div>
</li>
</ul>
</div>
</section>
<div class="sponsor-section bd-bottom">
<div class="container">
<ul id="sponsor-carousel" class="sponsor-items owl-carousel">
<li class="sponsor-item">
<img src="../../assets/img/sponsor-1.png" alt="sponsor-image">
</li>
<li class="sponsor-item">
<img src="../../assets/img/sponsor-2.png" alt="sponsor-image">
</li>
<li class="sponsor-item">
<img src="../../assets/img/sponsor-3.png" alt="sponsor-image">
</li>
<li class="sponsor-item">
<img src="../../assets/img/sponsor-4.png" alt="sponsor-image">
</li>
<li class="sponsor-item">
<img src="../../assets/img/sponsor-5.png" alt="sponsor-image">
</li>
<li class="sponsor-item">
<img src="../../assets/img/sponsor-6.png" alt="sponsor-image">
</li>
<li class="sponsor-item">
<img src="../../assets/img/sponsor-7.png" alt="sponsor-image">
</li>
<li class="sponsor-item">
<img src="../../assets/img/sponsor-8.png" alt="sponsor-image">
</li>
</ul>
</div>
</div>
<section class="widget-section padding">
<div class="container">
<div class="widget-wrap row">
<div class="col-md-4 xs-padding">
<div class="widget-content">
<img src="../../assets/img/logo-light.png" alt="logo">
<p>Lorem Ipsum is simply dummy printing and industry. It has survived not only five centuries, but also the leap electronic type essentially unchanged.</p>
<ul class="social-icon">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>
</div>
</div>
<div class="col-md-4 xs-padding">
<div class="widget-content">
<h3>Recent Campaigns</h3>
<ul class="widget-link">
<li><a href="#">First charity activity of this summer. <span>-1 Year Ago</span></a></li>
<li><a href="#">Big charity: build school for poor children. <span>-2 Year Ago</span></a></li>
<li><a href="#">Clean-water system for rural poor. <span>-2 Year Ago</span></a></li>
<li><a href="#">Nepal earthqueak donation campaigns. <span>-3 Year Ago</span></a></li>
</ul>
</div>
</div>
<div class="col-md-4 xs-padding">
<div class="widget-content">
<h3>Charitify Location</h3>
<ul class="address">
<li><i class="ti-email"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d69fb8b0b9968fb9a3a492b9bbb7bfb8f8b5b9bb">[email&#160;protected]</a></li>
<li><i class="ti-mobile"></i> +(333) 052 39876</li>
<li><i class="ti-world"></i> Www.YourWebsite.com</li>
<li><i class="ti-location-pin"></i> 60 Grand Avenue. Central New Road 0708, USA</li>
</ul>
</div>
</div>
</div>
</div>
</section>
<footer class="footer-section">
<div class="container">
<div class="row">
<div class="col-md-6 sm-padding">
<div class="copyright">&copy; 2018 Charitify Powered by DynamicLayers</div>
</div>
<div class="col-md-6 sm-padding">
<ul class="footer-social">
<li><a href="#">Orders</a></li>
<li><a href="#">Terms</a></li>
<li><a href="#">Report Problem</a></li>
</ul>
</div>
</div>
</div>
</footer> -->
<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_up"></i></a>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../assets/js/vendor/jquery-1.12.4.min.js"></script>

<script src="../../assets/js/vendor/bootstrap.min.js"></script>

<script src="../../assets/js/vendor/tether.min.js"></script>

<script src="../../assets/js/vendor/imagesloaded.pkgd.min.js"></script>

<script src="../../assets/js/vendor/owl.carousel.min.js"></script>

<script src="../../assets/js/vendor/jquery.isotope.v3.0.2.js"></script>

<script src="../../assets/js/vendor/smooth-scroll.min.js"></script>

<script src="../../assets/js/vendor/venobox.min.js"></script>

<script src="../../assets/js/vendor/jquery.ajaxchimp.min.js"></script>

<script src="../../assets/js/vendor/jquery.counterup.min.js"></script>

<script src="../../assets/js/vendor/jquery.waypoints.v2.0.3.min.js"></script>

<script src="../../assets/js/vendor/jquery.slicknav.min.js"></script>

<script src="../../assets/js/vendor/jquery.nivo.slider.pack.js"></script>

<script src="../../assets/js/vendor/letteranimation.min.js"></script>

<script src="../../assets/js/vendor/wow.min.js"></script>

<script src="../../assets/js/contact.js"></script>

<script src="../../assets/js/main.js"></script>
</body>
</html>